.sidebar {
  width: 260px;
  height: 100vh;
  background: #111827;
  position: fixed;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 10px;
  padding: 12px;
  border-radius: 10px;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #2563eb;
}
